header{
  background: #DA70D6;
}
.caixa{
  position: relative;
  width: 940px;
  margin:0 auto;
}
nav{
     position: absolute;
     top: 100px;
     right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
  color: #000000;
}
nav a{
  text-transform: uppercase;
  color: #000000;
}
main{
  width: 940px;
  margin: 0 auto;
}

form{
  margin: 40px 0;
}
.input-padrao{
  display: block;
  margin: 0 0 15px;
  padding: 20px 25px;
  width: 50%;
  border-radius: 25px;
}
#h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 27px;
}
form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}
.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  color: white;
}
.checkbox{
  margin: 20px 0;
}
.enviar{
  width: 40%;
  padding: 15px 0;
  background: #red;
  color: white:
  font-weight:bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.enviar:hover{
  background: rgb(219,217,0);
  background: radial-gradient(circle, rgba(219,217,0,0.8295693277310925) 0%, rgba(209,61,61,1) 100%);
  transform: scale(1.2);
}

table{
   margin: 20px 0 40px;
}

thead{
  background:#000000;
  color: white;
  font-weight: bold;
}

td, th{
  border: 1px solid   #000000;
  padding: 8px 15px;
  background: #000000;
  color: white;

}
footer{
  text-align: center;
  background: 	#000000;
  padding: 40px 0;
}
